<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- custom css file link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom js file link -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
<div id="app">
    <!-- header section starts -->
    <header class="header">

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#" class="logo"> LOGO<span>.</span></a>
        <nav class="navbar">
            <ul>
                <li><a href="Products.html">Products</a></li>
                <li><a href="shoppingCart.html">Shopping Cart</a></li>
                <li><a href="order.html">My Order</a></li>
                <li><a href="login.html" id="loginBtn">Login
                    <icons class="fa fa-sign-in"></icons>
                </a></li>
                <li><a href="#" class="username" id="username">{{username}}
                    <icons class="fa fa-user"></icons>
                </a>
                    <ul id="userSubList">
                        <li><a href="sellerRegister.html">Become<br>a seller</a></li>
                        <li><a href="#" id="logoutBtn" @click="logout">Logout
                            <icons class="fa fa-sign-out"></icons>
                        </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- header section ends -->

    <!-- login section starts -->

    <div class="account-form-container">
        <section class="account-form">
            <form action="#" method="post">
                <h3> Welcome Back ! </h3>
                <p class="errMsg">{{errMsg}}</p>
                <input type="text" v-model="formData.username" required name="username" maxlength="16"
                       placeholder="enter your account" class="input" @keyup.enter="submitForm">
                <input type="password" v-model="formData.password" required name="password" maxlength="30"
                       placeholder="enter your password" class="input" @keyup.enter="submitForm">
                <p>don't have an account? <a href="register.html">register now</a></p>
                <input type="button" id="submit-btn" name="submit-btn" value="Login Now" class="btn"
                       @click="submitForm">
            </form>
        </section>
    </div>
</div>

<!-- login section ends -->

<!-- footer section starts -->
<footer class="footer">
    <div class="developer">&copy copyright @ 2023 by <span> Hsiu Yen </span> | all rights reserved</div>
</footer>
<!-- footer section ends -->


<!-- loading js method -->
<script>
    // import { location } from '@element-plus/icons';
    const {createApp} = Vue;
    
    createApp({
        data() {
            return {
                username: "",
                errMsg: "",
                formData: {}
            }
        },
        mounted() {
            
        },
        setup() {

        },
        methods: {
            submitForm(event) {
                const _this = this;
                axios.post('/users/login', this.formData).then(response => {
                    //1. get response data
                    //2. determine whether flag is true
                    if (response.data.flag) {
                        //3. Login successful and jump to the home page
                        setTimeout(function () {
                            window.location.href = "/Products.html";
                        }, 10);
                    } else {
                        //4. Login failed, show error meaage
                        Swal.fire(response.data.message, "", "error");
                        _this.formData = {};
                    }
                });
            },
            isLogin(event) {
                const _this = this;
                axios.get('/users/isLogin').then(function (response) {
                    //1. get response data
                    //2. determine whether flag is true
                    if (response.data.flag) {
                        document.getElementById("loginBtn").style.display = 'none';
                        document.getElementById("username").style.display = 'block';
                        document.getElementById("userSubList").style.display = 'block';
                        _this.username = response.data.data.username;
                        //3. already login, jump to the home page
                        setTimeout(function () {
                            window.location.href = "/Products.html";
                        }, 10);
                    } else {
                        document.getElementById("username").style.display = 'none';
                        document.getElementById("userSubList").style.display = 'none';
                        document.getElementById("loginBtn").style.display = 'block';
                        _this.username = "Username";
                    }
                });
                return;
            },
            logout(event) {
                axios.get('/users/logout').then(function (response) {
                    document.getElementById("username").style.display = 'none';
                    document.getElementById("userSubList").style.display = 'none';
                    document.getElementById("loginBtn").style.display = 'block';
                    location.href = "/Products.html";
                });
            }
        }
    }).mount('#app')

</script>


</body>
</html>