<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <!-- custom css file link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom js file link -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
<div id="app">
    <!-- header section starts -->
    <header class="header">

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#" class="logo"> LOGO<span>.</span></a>
        <nav class="navbar">
            <ul>
                <li><a href="Products.html">Products</a></li>
                <li><a href="shoppingCart.html">Shopping Cart</a></li>
                <li><a href="#" class="store" id="storeBtn">My Store
                    <icons class="fa fa-angle-double-down"></icons>
                </a>
                    <ul id="sellerSubList">
                        <a href="store.html" id="storeBtn">Store</a>
                        <a href="AddProducts.html">Add Product</a>
                    </ul>
                </li>
                <li><a href="order.html">My Order</a></li>
                <li><a href="login.html" id="loginBtn">Login
                    <icons class="fa fa-sign-in"></icons>
                </a></li>
                <li><a href="#" class="username" id="username">{{username}}
                    <icons class="fa fa-user"></icons>
                </a>
                    <ul id="userSubList">
                        <li><a href="sellerRegister.html">Become<br>a seller</a></li>
                        <li><a href="#" id="logoutBtn" @click="logout">Logout
                            <icons class="fa fa-sign-out"></icons>
                        </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- header section ends -->

    <!-- products section starts -->

    <section class="products">

        <h1 class="heading">all products</h1>
        <div v-if="haveData" class="box-container">
            <form v-for="product in products" action="" method="post" class="box">
                <img :src="'data:image/png;base64,' + product.imagePath" alt="" class="image">
                <h3 id="productName" class="productName">{{product.productName}}</h3>

                <div class="flex">
                    <p class="price">NT<i class="fas fa-dollar-sign"></i> {{product.price}} </p>
                    <!-- <p class="price">{{product.quantity}} Left</p> -->
                    <!-- <input type="number" v-model="cart.quantity" name="quantity" required maxlength="2" min="1" value="1" max="99"
                           class="quantity"> -->
                </div>
                <input type="button" value="buy now" name="add_to_order" class="delete-btn"
                       @click="addToOrder(product)">
                <input type="button" value="add to cart" name="add_to_cart" class="btn" @click="addToCart(product.id)">
            </form>
        </div>

        <p v-else class="empty">no products found!</p>

    </section>

    <!-- products section ends -->

    <!-- footer section starts -->
    <footer class="footer">
        <div class="developer">&copy copyright @ 2023 by <span> Hsiu Yen </span> | all rights reserved</div>
    </footer>
    <!-- footer section ends -->
</div>


<!-- loading js method -->
<script>
    const {createApp} = Vue

    createApp({
        data() {
            return {
                username: "",
                Msg: "",
                msgColor: "red",
                haveData: false,
                products: [],
                cart: {
                    userId: "",
                    productId: "",
                    quantity: 1,
                }, 
                order: {
                    userId:"", 
                    product:""
                }
            }
        },
        mounted() {
            this.isLogin();
            this.findAllProducts();
        },
        setup() {

        },
        methods: {
            findAllProducts(event) {
                var _this = this;
                axios.get('/products/findAllProducts').then(function (response) {
                    //1. get response data
                    //2. determine whether flag is true
                    if (response.data.flag) {
                        //3. find products
                        _this.products = response.data.data;
                        _this.haveData = true;
                    } else {
                        //4. product no found
                        _this.haveData = false;
                    }
                });
            },
            addToCart(productId) {
                var _this = this;
                if ( _this.cart.userId == "") {
                    Swal.fire("You are not logged in yet, please log in first", "", "error");
                    setTimeout(function () {
                        window.location.href = "/login.html";
                    }, 1500);
                } else {
                    this.cart.productId = productId;
                    axios.post('/carts/addToCart', this.cart).then(function (response) {
                        //1. get response data
                        //2. determine whether flag is true
                        if (response.data.flag) {
                            Swal.fire(response.data.message, "", "success");
                        } else {
                            Swal.fire(response.data.message, "", "error");
                        }
                    });
                }
                
            },
            addToOrder(product) {
                console.log(product);
                var _this = this;
                if ( _this.cart.userId == "") {
                    Swal.fire("You are not logged in yet, please log in first", "", "error");
                    setTimeout(function () {
                        window.location.href = "/login.html";
                    }, 1500);
                } else {
                    this.order.product = product;
                    axios.post('/orders/addProductToOrder', this.order).then(function (response) {
                        //1. get response data
                        //2. determine whether flag is true
                        if (response.data.flag) {
                            Swal.fire(response.data.message, "", "success");
                        } else {
                            Swal.fire(response.data.message, "", "error");
                        }
                    });
                }
            },
            isLogin(event) {
                const _this = this;
                axios.get('/users/isLogin').then(function (response) {
                    //1. get response data
                    //2. determine whether flag is true
                    if (response.data.flag) {
                        document.getElementById("loginBtn").style.display = 'none';
                        document.getElementById("username").style.display = 'block';
                        document.getElementById("userSubList").style.display = 'block';
                        _this.username = response.data.data.username;
                        _this.cart.userId = response.data.data.id;
                        _this.order.userId = response.data.data.id;

                        if (response.data.data.type == 1) {
                            document.getElementById("storeBtn").style.display = 'block';
                            document.getElementById("sellerSubList").style.display = 'block';
                        } else {
                            document.getElementById("sellerSubList").style.display = 'none';
                            document.getElementById("storeBtn").style.display = 'none';
                        }
                    } else {
                        document.getElementById("username").style.display = 'none';
                        document.getElementById("userSubList").style.display = 'none';
                        document.getElementById("loginBtn").style.display = 'block';
                        _this.username = "Username";
                    }
                });
                return;
            },
            logout(event) {
                axios.get('/users/logout').then(function (response) {
                    document.getElementById("username").style.display = 'none';
                    document.getElementById("userSubList").style.display = 'none';
                    document.getElementById("loginBtn").style.display = 'block';
                    document.getElementById("sellerSubList").style.display = 'none';
                    document.getElementById("storeBtn").style.display = 'none';
                    location.href = "/Products.html";
                });
            }


        }
    }).mount('#app')
</script>
</body>
</html>