<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    <!-- custom css file link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom js file link -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
<div id="app">
    <!-- header section starts -->
    <header class="header">

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#" class="logo"> LOGO<span>.</span></a>
        <nav class="navbar">
            <ul>
                <li><a href="Products.html">Products</a></li>
                <li><a href="shoppingCart.html">Shopping Cart</a></li>
                <li><a href="order.html">My Order</a></li>
                <li><a href="login.html" id="loginBtn">Login
                    <icons class="fa fa-sign-in"></icons>
                </a></li>
            </ul>
        </nav>
    </header>
    <!-- header section ends -->

    <!-- login section starts -->


    <div class="account-form-container">
        <section class="account-form">
            <form action="login.html" method="post">
                <h3> Join us ! </h3>
                <p class="errMsg" :style="{color: msgColor}">{{errMsg}}</p>
                <input type="text" v-model="formData.username" required name="username" minlength="8" maxlength="16"
                       placeholder="enter your account" class="input" @blur="checkUsername">
                <input type="email" v-model="formData.email" required name="email" maxlength="50"
                       placeholder="enter your email" class="input">
                <input type="password" v-model="formData.password" required name="password" maxlength="30"
                       placeholder="enter your password" class="input">
                <input type="password" v-model="formData.confirmPassword" required name="comfirm_password"
                       maxlength="30" placeholder="comfirm your password" class="input">
                <p>already have an account? <a href="login.html">login now</a></p>
                <input type="button" id="submit-btn" name="submit-btn" value="Register" class="btn" @click="submitForm">
            </form>
        </section>
    </div>


    <!-- login section ends -->

    <!-- footer section starts -->
    <footer class="footer">
        <div class="developer">&copy copyright @ 2023 by <span> Hsiu Yen </span> | all rights reserved</div>
    </footer>
    <!-- footer section ends -->
</div>

<!-- loading js method -->
<script>

    const {createApp} = Vue

    createApp({
        data() {
            return {
                errMsg: "",
                msgColor: "red",
                formData: {}
            }
        },
        mounted() {
        },
        setup() {

        },
        methods: {
            submitForm(event) {
                const _this = this;
                var emailRegxp = /^([\w]+)(.[\w]+)*@([\w]+)(.[\w]{2,3}){1,2}$/;
                if (this.errMsg == "This username already exists") {
                    Swal.fire({
                        icon: 'error', 
                        title: 'This username already exists', 
                        text: "Find a name that's cooler than the others"
                    });
                } else if (this.formData.email = '') {
                    Swal.fire({
                        icon: 'error', 
                        title: 'You did not fill in the email address', 
                        text: "Fill in the email address and let us contact you"
                    });
                } else if(emailRegxp.test(this.formData.email) != true) {
                    Swal.fire({
                        icon: 'error', 
                        title: 'Email format error'
                    });
                } else if (this.formData.password == '' || this.formData.confirmPassword == '') {
                    Swal.fire({
                        icon: 'error', 
                        title: 'Password not filled', 
                        text: "For security reasons, please fill in"
                    });
                } else {
                    axios.post('/users/register', this.formData).then(function (response) {
                        //1. get response data
                        //2. determine whether flag is true
                        if (response.data.flag) {
                            //3. Registration is successful, jump to the registration page, and display a success message
                            Swal.fire(response.data.message, "", "success");
                            setTimeout(function () {
                                window.location.href = "/login.html";
                            }, 1500);
                        } else {
                            //4. Registration failed, show error message
                            _this.msgColor = "#ff1900";
                            Swal.fire(response.data.message, "", "error");
                            _this.formData.password = "";
                            _this.formData.confirmPassword = "";
                        }
                    });
                }
            },
            checkUsername(event) {
                const _this = this;
                axios.get('/users/findUsername/' + this.formData.username).then(function (response) {
                    //1. get response data
                    //2. determine whether flag is true
                    let userExists = response.data.flag;
                    if (userExists) {
                        _this.msgColor = "#ff1900";
                        Swal.fire(response.data.message, "", "success");
                    } else {
                        _this.msgColor = "#38944f";
                        _this.errMsg = response.data.message;
                        Swal.fire(response.data.message, "", "error");

                    }
                });
            }


        }
    }).mount('#app')

</script>
</body>
</html>