<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>

    <!-- custom css file link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom js file link -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
<div id="app">
    <!-- header section starts -->
    <header class="header">

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#" class="logo"> LOGO<span>.</span></a>
        <nav class="navbar">
            <ul>
                <li><a href="Products.html">Products</a></li>
                <li><a href="shoppingCart.html">Shopping Cart</a></li>
                <li><a href="store.html" class="store" id="storeBtn">Store
                    <icons class="fa fa-angle-double-down"></icons>
                </a>
                    <ul id="sellerSubList">
                        <a href="AddProducts.html">Add Product</a>
                    </ul>
                </li>
                <li><a href="order.html">My Order</a></li>
                <li><a href="login.html" id="loginBtn">Login
                    <icons class="fa fa-sign-in"></icons>
                </a></li>
                <li><a href="#" class="username" id="username">{{username}}
                    <icons class="fa fa-user"></icons>
                </a>
                    <ul id="userSubList">
                        <li><a href="sellerRegister.html">Become<br>a seller</a></li>
                        <li><a href="#" id="logoutBtn" @click="logout">Logout
                            <icons class="fa fa-sign-out"></icons>
                        </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- header section ends -->


    <!-- add Product section starts -->
    <section class="add-product">
        <form action="#" method="post" enctype="multipart/form-data">
            <h3>Product Details</h3>
            <p class="errMsg" :style="{color: msgColor}">{{errMsg}}</p>
            <p>Product Name <span>*</span></p>
            <input type="text" v-model="product.productName" name="productName" required maxlength="50"
                   placeholder="enter product name" class="box">
            <p>Product Price <span>*</span></p>
            <input type="number" v-model="product.price" name="price" required maxlength="10" min="0"
                   max="9999999999" placeholder="enter product price" class="box">
            <p>Product Quantity <span>*</span></p>
            <input type="number" v-model="product.quantity" name="quantity" required maxlength="2" min="1"
                   max="99" placeholder="enter product quantity" class="box">
            <p>Product Image <span>*</span></p>
            <input type="file" id="productImage" name="productImage" required accept="image/png,image/jpeg,image/jpg"
                   class="box" @change="changeFile">
            <input type="button" value="update product" name="updateProduct" class="btn" @click="updateProduct">
        </form>

        <!-- <form action="" method="post">
            <img src="images/user ID Card/Xiu1.JPG" alt="" class="image">
        </form> -->
    </section>


    <!-- add Product section ends -->


    <!-- footer section starts -->
    <footer class="footer">
        <div class="developer">&copy copyright @ 2023 by <span> Hsiu Yen </span> | all rights reserved</div>
    </footer>
    <!-- footer section ends -->
</div>


<!-- loading js method -->
<script>
    const {createApp} = Vue
    // id=13; productName=qwwr; price=512; quantity=12
    var getCookies = function (name) {
        var arr;
        let reg = new RegExp('(^| )' + name + '([^;]*)(;|$)');
        if (arr = document.cookie.match(reg)) {
            return arr[2];
        } else {
            return null;
        }
    };

    createApp({
        data() {
            return {
                username: "",
                errMsg: "",
                msgColor: "red",
                userId: "",
                formData: new FormData(),
                product: {
                    id: getCookies('id='),
                    productName: getCookies('productName='),
                    price: getCookies('price='),
                    quantity: getCookies('quantity=')
                },

            }
        },
        mounted() {
            this.isLogin();

        },
        setup() {

        },
        methods: {
            updateProduct(event) {
                if (this.product.quantity > 99) {
                    this.msgColor = "#ff1900";
                    Swal.fire("The number of products cannot exceed 99", "", "error");
                    return;
                }
                var _this = this;
                this.product.sellerId = this.userId;
                this.formData.append('product', new Blob([JSON.stringify(this.product)], {type: "application/json"}));
                axios.put('/products/updateProduct', this.formData).then(function (response) {
                    //1. get response data
                    //2. determine whether flag is true
                    if (response.data.flag) {
                        //3. Registration is successful, jump to the registration page, and display a success message
                        Swal.fire(response.data.message, "", "success");
                        setTimeout(function () {
                            window.location.href = "/store.html";
                        }, 1500);
                    } else {
                        //4. Registration failed, show error message
                        Swal.fire(response.data.message, "", "error");
                    }
                });
            },
            changeFile(event) {
                this.formData.append('file', event.target.files[0]);
            },
            isLogin(event) {
                const _this = this;
                axios.get('/users/isLogin').then(function (response) {
                    //1. get response data
                    //2. determine whether flag is true
                    if (response.data.flag) {
                        document.getElementById("loginBtn").style.display = 'none';
                        document.getElementById("username").style.display = 'block';
                        document.getElementById("userSubList").style.display = 'block';
                        _this.username = response.data.data.username;
                        _this.userId = response.data.data.id;

                        if (response.data.data.type == 1) {
                            document.getElementById("storeBtn").style.display = 'block';
                            document.getElementById("sellerSubList").style.display = 'block';
                        } else {
                            document.getElementById("sellerSubList").style.display = 'none';
                            document.getElementById("storeBtn").style.display = 'none';
                        }
                    } else {
                        document.getElementById("username").style.display = 'none';
                        document.getElementById("userSubList").style.display = 'none';
                        document.getElementById("loginBtn").style.display = 'block';
                        _this.username = "Username";
                    }
                });
                return;
            },
            logout(event) {
                axios.get('/users/logout').then(function (response) {
                    document.getElementById("username").style.display = 'none';
                    document.getElementById("userSubList").style.display = 'none';
                    document.getElementById("loginBtn").style.display = 'block';
                    document.getElementById("sellerSubList").style.display = 'none';
                    document.getElementById("storeBtn").style.display = 'none';
                    location.href = "/home.html";
                });
            }


        }
    }).mount('#app')
</script>
</body>
</html>